<% @page_title = t '.title', station_name: @railway_station.name %>

<div class="admin-station-show">
  <p>
    <strong><%= t '.trains' %>:</strong>
    <% if @railway_station.trains.present? %>
      <ul>
        <%= render partial: 'admin/trains/train_as_list_item', collection: @railway_station.trains, as: :train %>
      </ul>
    <% else %>
      <%= t '.no_trains' %>
    <% end %>
  </p>

  <div class="admin-station-show_actions">
    <%= link_to t('common.return_to_railway_stations'), admin_railway_stations_path, class: 'admin-station-show_back-button' %>
    <%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station), class: 'admin-station-show_edit-button' %>
  </div>
</div>
