<span
  class="js-admin-routes-index-route-name js-admin-routes-index-route-name-<%= route.id %> admin-routes-index-route-name -edit-off"
  contenteditable="false"
  data-toggle="popover"
  data-original-title="<%= t '.edit_name' %>"
  data-model-name="route"
  title="<%= t '.popover_title' %>"
  data-model-id="<%= route.id %>">
  <%= route.name %>
</span>
