<% content_for :sidebar do %>
    <% if @route.errors.any? %>
        <%= render 'common/errors', resource: @route %>
    <% end %>
<% end %>

<%= form_for [:admin, @route], class: 'admin-route-form' do |f| %>
    <div class="admin-route-form_input-wrapper">
      <%= f.label :name, 'Название' %>
      <%= f.text_field :name, class: 'admin-route-form_input' %>
    </div>

    <div class="admin-route-form_input-wrapper">
    <%= f.label :railway_station_ids, 'Станции' %>
    <%= f.collection_select :railway_station_ids, RailwayStation.select(:id, :name).all, :id, :name, {}, { multiple: true, class: 'admin-route-form_input' } %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'admin-route-form_save-button' %>
    </div>
<% end %>
