<% @page_title = t '.title' %>

<div class="admin-routes-index">
  <table class="admin-routes-index_table admin-routes-index-table">
    <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @routes.each do |route| %>
        <tr>
          <td><%= route.name %></td>
          <td class="admin-routes-index-table_controls">
            <%= link_to admin_route_path(route) do
              bs_icon 'eye-open', tooltip: t('common.show')
            end %>
            <%= link_to edit_admin_route_path(route) do
              bs_icon :pencil, tooltip: t('common.edit')
            end %>
            <%= link_to admin_route_path(route), method: :delete, data: { confirm: t('common.are_you_sure') } do
              bs_icon :remove, tooltip: t('common.destroy')
            end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="admin-routes-index_actions">
    <%= link_to t('.create'), new_admin_route_path, class: 'admin-routes-index_new-button' %>
  </div>
</div>
