<% @page_title = t '.title', route_name: @route.name %>

<p>
  <strong><%= t '.trains' %>:</strong>
  <% if @route.trains.present? %>
    <ul>
      <%= render partial: 'admin/trains/train_as_list_item', collection: @route.trains, as: :train %>
    </ul>
<% else %>
    <%= t ('.no_trains') %>
<% end %>
</p>

<p>
  <strong><%= t '.stations' %>:</strong>
  <% if @route.railway_stations.present? %>
    <table class="route-stations">
      <thead>
      <th><%= RailwayStationsRoute.human_attribute_name(:position) %></th>
      <th><%= RailwayStation.human_attribute_name(:name) %>Название</th>
      <th><%= t 'common.arrival_date_and_time' %></th>
      <th><%= t 'common.departure_date_and_time' %></th>
      </thead>
      <tbody>
      <%= render partial: 'admin/railway_stations/railway_station_as_table_row',
          collection: @route.railway_stations.ordered,
          as: :railway_station %>
      </tbody>
    </table>
<% else %>
    <%= t ('.no_stations') %>
<% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.return_to_routes'), admin_routes_path %>
