<%= form_for(@train) do |f| %>
    <% if @train.errors.any? %>
        <%= render 'common/errors', resource: @train %>
    <% end %>

    <div class="field">
      <%= f.label :number, 'Номер' %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :route, 'Маршрут' %><br>
      <%= f.collection_select :route_id, Route.all, :id, :name, include_blank: 'Без маршрута' %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить' %>
    </div>
<% end %>
