<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
      <%= link_to @train.route.name, route_path(@train.route) %>
  <% else %>
      Маршрут не назначен
  <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'К списку поездов', trains_path %>
