<%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :first_name, 'Имя' %><br>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :family_name, 'Фамилия' %><br>
      <%= f.text_field :family_name %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить' %>
    </div>
<% end %>
