<tr>
  <td><%= link_to ticket.train.number, train_path(ticket.train) %></td>
  <td>
    <%= ticket.departure_station.name %>
    <br/>
    <%= ticket.train.route.station_in_route(ticket.departure_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
  </td>
  <td>
    <%= ticket.arrival_station.name %>
    <br/>
    <%= ticket.train.route.station_in_route(ticket.arrival_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
  </td>
</tr>
