<% @page_title = t '.title' %>

<div class="ticket-index">
  <% if @tickets.any? %>
      <table class="tickets-index-table">
        <thead>
        <tr>
          <th><%= Train.human_attribute_name(:number) %></th>
          <th><%= RailwayStationsRoute.human_attribute_name(:station_name_and_departure_time) %></th>
          <th><%= RailwayStationsRoute.human_attribute_name(:station_name_and_arrive_time) %></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @tickets.each do |ticket| %>
            <tr>
              <td><%= link_to ticket.train.number, admin_train_path(ticket.train) %></td>
              <td>
                <%= link_to ticket.departure_station.name, admin_railway_station_path(ticket.departure_station) %>
                <br/>
                <%= ticket.train.route.station_in_route(ticket.departure_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
              </td>
              <td>
                <%= link_to ticket.arrival_station.name, admin_railway_station_path(ticket.arrival_station) %>
                <br/>
                <%= ticket.train.route.station_in_route(ticket.arrival_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
              </td>
              <td class="tickets-index-table_controls">
                <%= link_to ticket_path(ticket) do
                  bs_icon 'eye-open', tooltip: t('common.show')
                end %>
                <%= link_to ticket_path(ticket), method: :delete, data: { confirm: t('common.are_you_sure') } do
                  bs_icon :remove, tooltip: t('common.destroy')
                end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <h3><%= t '.no_tickets' %></h3>
  <% end %>

  <div class="my-tickets_actions">
    <%= link_to t('common.return_to_search'), search_path, class: 'ticket-index_back-button' %>
  </div>
</div>
