<p>
  <strong>Пассажир:</strong>
  <%= link_to @ticket.user.full_name, user_path(@ticket.user) %>
</p>

<p>
  <strong>Номер поезда:</strong>
  <%= link_to @ticket.train.number, train_path(@ticket.train) %>
</p>

<p>
  <strong>Станция отправления:</strong>
  <%= link_to @ticket.start_station.name, railway_station_path(@ticket.start_station) %>
  <br>
  <strong>Дата и время отправления:</strong>
  <%= @ticket.train.route.station_in_route(@ticket.start_station.id).departure_datetime.strftime('%d.%m.%Y %H:%M') %>
</p>

<p>
  <strong>Станция прибытия:</strong>
  <%= link_to @ticket.finish_station.name, railway_station_path(@ticket.finish_station) %>
  <br>
  <strong>Дата и время прибытия:</strong>
  <%= @ticket.train.route.station_in_route(@ticket.finish_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
</p>


<%= link_to 'К списку билетов', tickets_path %>
