<% @page_title = t '.title', carriage_number: @carriage.id %>

<p>
  <strong><%= Carriage.human_attribute_name(:type) %>:</strong>
  <%= @carriage.type_name %>
</p>

<p>
  <strong><%= Carriage.human_attribute_name(:train_id) %>:</strong>
  <% if @carriage.train.present? %>
      <%= link_to @carriage.train.number, @carriage.train %>
  <% else %>
      <%= t '.no_train' %>
  <% end %>
</p>

<% if @carriage.train.present? %>
    <p>
      <strong><%= Carriage.human_attribute_name(:position) %>:</strong>
      <%= @carriage.position %>
    </p>
<% end %>

<%= render "carriages/#{class_snake_case}_fields" %>
