<tr>
  <td><%= link_to ticket.train.number, admin_train_path(ticket.train) %></td>
  <td>
    <%= link_to ticket.departure_station.name, admin_railway_station_path(ticket.departure_station) %>
    <br/>
    <%= ticket.train.route.station_in_route(ticket.departure_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
  </td>
  <td>
    <%= link_to ticket.arrival_station.name, admin_railway_station_path(ticket.arrival_station) %>
    <br/>
    <%= ticket.train.route.station_in_route(ticket.arrival_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
  </td>
</tr>
