<p>
  <strong>Пассажир:</strong>
  <%= link_to @ticket.user.full_name, admin_user_path(@ticket.user) %>
</p>

<p>
  <strong>Номер поезда:</strong>
  <%= link_to @ticket.train.number, train_path(@ticket.train) %>
</p>

<p>
  <strong>Станция отправления:</strong>
  <%= @ticket.departure_station.name %>
  <br>
  <strong>Дата и время отправления:</strong>
  <%= @ticket.train.route.station_in_route(@ticket.departure_station.id).departure_datetime.strftime('%d.%m.%Y %H:%M') %>
</p>

<p>
  <strong>Станция прибытия:</strong>
  <%= @ticket.arrival_station.name %>
  <br>
  <strong>Дата и время прибытия:</strong>
  <%= @ticket.train.route.station_in_route(@ticket.arrival_station.id).arrival_datetime.strftime('%d.%m.%Y %H:%M') %>
</p>


<%= link_to 'Вернуться к пользователю', admin_user_path(@ticket.user) %>
