<tr>
  <td class="position">
    <%= form_tag update_position_railway_station_path(railway_station), method: :patch do %>
        <%= number_field_tag :position, railway_station.station_route(@route).position, class: 'position-input' %>
        <%= hidden_field_tag :route_id, @route.id %>
        <br/>
        <%= submit_tag 'Изменить' %>
    <% end %>
  </td>

  <td class="name">
    <%= link_to railway_station.name, railway_station_path(railway_station) %>
  </td>

  <td class="arrive-datetime">
    <%= form_tag update_arrival_datetime_railway_station_path(railway_station), method: :patch do %>
        <%= datetime_select :arrival_datetime, nil,
            default: railway_station.station_route(@route).arrival_datetime,
            prompt: -> (date) {
              return { year: 'Год', month: 'Месяц', day: 'День' } unless date
              false
            }.call(railway_station.station_route(@route).arrival_datetime),
            start_year: Time.zone.now.year
        %>
        <%= hidden_field_tag :station_id, railway_station.id %>
        <%= hidden_field_tag :route_id, @route.id %>
        <%= submit_tag 'Изменить' %>
    <% end %>
  </td>

  <td class="departure-datetime">
    <%= form_tag update_departure_datetime_railway_station_path(railway_station), method: :patch do %>
        <%= datetime_select :departure_datetime, nil,
            default: railway_station.station_route(@route).departure_datetime,
            prompt: -> (date) {
              return { year: 'Год', month: 'Месяц', day: 'День' } unless date
              false
            }.call(railway_station.station_route(@route).departure_datetime),
            start_year: Time.zone.now.year
        %>
        <%= hidden_field_tag :station_id, railway_station.id %>
        <%= hidden_field_tag :route_id, @route.id %>
        <%= submit_tag 'Изменить' %>
    <% end %>
  </td>
</tr>
