<% content_for :sidebar do %>
  <% if @carriage.errors.any? %>
      <%= render 'common/errors', resource: @carriage %>
  <% end %>
<% end %>

<%= form_for [:admin, @train, @carriage.becomes(Carriage)], class: 'admin-carriage-form' do |f| %>
    <div class="admin-carriage-form_input-row">
      <%= f.label :type %><br>
      <%= f.select :type, Carriage.types, { include_blank: '---' }, class: 'js-carriage-type-selector admin-carriage-form_type-select' %>
    </div>

    <div class="admin-carriage-form_input-row carriage-field js-carriage-form-field js-econom-carriage-form-field js-business-carriage-form-field">
      <%= f.label :upper_seats %>
      <%= f.number_field :upper_seats, class: 'admin-carriage-form_input' %>
    </div>

    <div class="admin-carriage-form_input-row carriage-field js-carriage-form-field js-econom-carriage-form-field js-business-carriage-form-field js-luxurious-carriage-form-field">
      <%= f.label :bottom_seats %>
      <%= f.number_field :bottom_seats, class: 'admin-carriage-form_input' %>
    </div>

    <div class="admin-carriage-form_input-row carriage-field js-carriage-form-field js-econom-carriage-form-field">
      <%= f.label :side_upper_seats %>
      <%= f.number_field :side_upper_seats, class: 'admin-carriage-form_input' %>
    </div>

    <div class="admin-carriage-form_input-row carriage-field js-carriage-form-field js-econom-carriage-form-field">
      <%= f.label :side_bottom_seats %>
      <%= f.number_field :side_bottom_seats, class: 'admin-carriage-form_input' %>
    </div>

    <div class="admin-carriage-form_input-row carriage-field js-carriage-form-field js-seating-carriage-form-field">
      <%= f.label :seating_seats %>
      <%= f.number_field :seating_seats, class: 'admin-carriage-form_input' %>
    </div>

    <script type="text/javascript" charset="utf-8">
      $(document).on('ready', function () {
        <% if defined? class_name %>
          $('.js-<%= class_name %>-carriage-form-field').addClass('-visible');
        <% end %>

        $('.js-carriage-type-selector').on('change', function () {
          var class_name = $(this).val().split('::')[1].toLowerCase();
          $('.js-carriage-form-field').removeClass('-visible');

          $('.js-' + class_name + '-carriage-form-field').addClass('-visible');
        })
      });
    </script>

    <div class="actions">
      <%= f.submit t('common.submit'), class: 'admin-carriage-form_submit-button' %>
    </div>
<% end %>
