<p>
  <strong><%= t 'admin.routes.attributes.name' %>:</strong>
  <%= @route.name %>
</p>

<p>
  <strong><%= t 'admin.routes.show.trains' %>:</strong>
  <% if @route.trains.present? %>
    <ul>
      <%= render partial: 'trains/train_as_list_item', collection: @route.trains, as: :train %>
    </ul>
<% else %>
    <%= t 'admin.routes.show.no_trains' %>
<% end %>
</p>

<p>
  <strong><%= t 'admin.routes.show.stations' %>:</strong>
  <% if @route.railway_stations.present? %>
    <table class="route-stations">
      <thead>
      <th><%= t 'admin.routes.show.position' %></th>
      <th><%= t 'admin.routes.attributes.name' %></th>
      <th><%= t 'common.arrival_date_and_time' %></th>
      <th><%= t 'common.departure_date_and_time' %></th>
      </thead>
      <tbody>
      <%= render partial: 'railway_stations/railway_station_as_table_row',
          collection: @route.railway_stations.ordered,
          as: :railway_station %>
      </tbody>
    </table>
<% else %>
    <%= t 'admin.routes.show.no_stations' %>
<% end %>
</p>
