<span
  class="js-admin-trains-index-train-number js-admin-trains-index-train-number-<%= train.id %> admin-trains-index-train-number -edit-off"
  contenteditable="false"
  data-toggle="popover"
  data-original-title="<%= t '.edit_name' %>"
  data-model-name="train"
  title="<%= t '.popover_title' %>"
  data-model-id="<%= train.id %>">
  <%= train.number %>
</span>
