<% if @train.errors.any? %>
    <%= render 'common/errors', resource: @train %>
<% end %>

<%= form_for [:admin, @train], class: 'admin-train-form' do |f| %>
    <div class="admin-train-form_input-row">
      <%= f.label :number, 'Номер' %>
      <%= f.text_field :number, class: 'admin-train-form_input' %>
    </div>

    <div class="admin-train-form_input-row">
      <%= f.label :position_from_head, class: 'admin-train-form_checkbox-wrapper' do %>
          <%= f.check_box :position_from_head %>
          Нумерация с головы поезда
      <% end %>
    </div>

    <div class="admin-train-form_input-row">
      <%= f.label :route, 'Маршрут' %>
      <%= f.collection_select :route_id, Route.select(:id, :name).all, :id, :name, { include_blank: 'Без маршрута' }, class: 'admin-train-form_input' %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'admin-train-form_save-button' %>
    </div>
<% end %>
