<% @page_title = t '.title', train_number: @train.number %>

<div class="admin-train-show">
  <p>
    <strong><%= Train.human_attribute_name(:route_id) %>:</strong>
    <% if @train.route.present? %>
        <%= link_to @train.route.name, admin_route_path(@train.route) %>
    <% else %>
        <%= t '.no_route' %>
    <% end %>
  </p>

  <% if @train.carriages.present? %>
      <h3><%= t '.carriages' %></h3>
      <table class="admin-train-show_carriages-table">
        <thead>
        <th><%= Carriage.human_attribute_name(:position) %></th>
        <th><%= Carriage.human_attribute_name(:type) %></th>
        </thead>
        <tbody>
        <%= render partial: 'admin/carriages/carriage_as_table_row',
            collection: @train.carriages.ordered_by(@train.position_from_head),
            as: :carriage
        %>
        </tbody>
      </table>
  <% else %>
      <h3><%= t '.no_carriages' %></h3>
  <% end %>

  <p>
    <%= link_to t('.add_carriage'), new_admin_train_carriage_path(@train), class: 'admin-train-show_add-carriage-button' %>
  </p>

  <div class="admin-train-show_actions">
    <%= link_to t('common.return_to_trains'), admin_trains_path, class: 'admin-train-show_back-button' %>
    <%= link_to t('common.edit'), edit_admin_train_path(@train), class: 'admin-train-show_edit-button' %>
  </div>
</div>
