<% @page_title = t '.title', user_name: @user.full_name %>

<div class="admin-user-show">
  <p>
    <strong><%= User.human_attribute_name(:email) %>:</strong>
    <%= @user.email %>
  </p>

  <% if @user.tickets.present? %>
      <h3><%= t 'common.tickets' %></h3>

      <table class="admin-user-show_tickets-table">
        <thead>
        <th><%= Train.human_attribute_name(:number) %></th>
        <th><%= RailwayStationsRoute.human_attribute_name(:station_name_and_departure_time) %></th>
        <th><%= RailwayStationsRoute.human_attribute_name(:station_name_and_arrive_time) %></th>
        </thead>
        <tbody>
          <%= render partial: 'admin/tickets/ticket_as_table_row', collection: @user.tickets, as: :ticket %>
        </tbody>
      </table>
  <% else %>
      <h3><%= t '.no_tickets' %></h3>
  <% end %>

  <div class="admin-user-show_actions">
    <%= link_to t('common.return_to_users'), admin_users_path, class: 'admin-user-show_back-button' %>
    <%= link_to t('common.edit'), edit_admin_user_path(@user), class: 'admin-user-show_edit-button' %>
  </div>
</div>
