<!DOCTYPE html>
<html>
<head>
  <title>TrainManager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user && current_user.admin? %>
    <%= render 'common/admin_header' %>
  <% else %>
    <%= render 'common/user_header' %>
  <% end %>

  <%= render 'common/notice_panel' %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render 'common/footer' %>
</body>
</html>
